<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h3>天食地栗 ${empUsername} 員工 您好：</h3>
	<h3>開通帳號請點擊下方開通</h3>
	<br />
	<h2>
		<a href='${link}'>開通</a>
	</h2>
	<h3>登入帳號為您的員工編號:${empId}</h3>
	<h3>首次登入密碼為您的身分證</h3>
	<div>
	<h3>您的QR code用於登入以及打卡功能</h3>
	<img src="cid:code" title='${imgTitleName}_QR' alt='${imgTitleName}_QR' width="300">
	</div>
	<tr>
		<td rowspan=3><img src="cid:aaa"></td>
		<td>
			<h5>地址：台北市信義區基隆路二段33號</h5>
			<h5>電話：02 - 2738-5385</h5>
			<h5>營業時間： 12:00 - 21:00, Sun - Sat</h5>
		</td>
	</tr>
</body>
</html>